* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.navbar {
  padding: 10px 45px;
  background-color: #fff;
  border-bottom: 0.1px solid rgb(197, 197, 197);
  backdrop-filter: blur(10px);
}

.navbar-brand {
  padding: 0px 10px;
  font-size: 2rem;
}

.navbar-collapse {
  flex-grow: 0;
  padding-right: 30px;
}

.navbar-nav {
  padding-right: 45px;
}

.navbar-brand {
  color: #2f3c7e;
}

.navbar-brand:hover {
  color: #1b234f;
}
.nav-link {
  font-size: 1.2rem;
  color: #2f3c7e !important;
}
.nav-link:hover {
  color: #1b234f !important;
}

.btn-contact,
.btn-work,
.btn-hire,
.btn-view,
.btn-sendMsg,
.btn-github ,
.btn-link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #2f3c7e;
  border: 1px solid #2f3c7e;
}

.btn-view:focus , .btn-view:active{
  /* --bs-btn-border-width:none !important; */
  border: none !important;
  /* outline: none !important; */
  /* box-shadow: none; */
}
.btn-contact:hover,
.btn-work:hover,
.btn-hire:hover,
.btn-view:hover,
.btn-sendMsg:hover,
.btn-github:hover,
.btn-link:hover {
  color: #fff;
  background-color: #1b234f;
}
/* 
.home-body{

} */

.home-section {
  display: flex;
  padding: 6rem 2rem;
  align-items: center;
  justify-content: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
}

.sub-text {
  font-size: 2rem;
}
.my-name {
  font-size: 3.6rem;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 700;
}
.sub-title {
  font-size: 1.8rem;
  line-height: 1.5;
}

.intro-description {
  line-height: 1.7;
}
.display-picture-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.display-picture {
  width: 28rem;
}
/* media query for navbar (<large screen) */

/* @media screen and (max-width: 992px){
  .navbar-collapse{
    padding-right: 0px;
  }
  .nav{
    padding-right:0px ;
  }
} */

/* when screen size is 992px or smaller */
@media screen and (max-width: 992px) {
  .intro-text {
    order: 2;
  }
  .display-picture-container {
    order: 1;
  }
}
/* when screen size is between 576px and 992px  */
@media screen and (max-width: 768px) and (min-width: 576px) {
  .my-name {
    font-size: 3rem;
    letter-spacing: 1.5px;
    line-height: 1.9;
  }
  .sub-title {
    font-size: 1.2rem;
  }
}
/* for small screen and below */
@media screen and (max-width: 576px) {
  .intro-text {
    padding: 0;
    margin: 0;
  }
  .my-name {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.4;
  }

  .sub-title {
    font-size: 1rem;
  }
  .display-picture {
    width: 20rem;
  }
}

.my-skills-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

/*  About-me section */

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.about-me-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.about-image-container {
  padding: 2rem;
}

.about-image {
  width: 24rem;
}

.about-body {
  display: flex;
  flex-direction: column;
  /* width: 588px; */
  padding: 2rem 0 4rem 0;
}

.about-me {
  line-height: 1.5;
}
.name {
  font-size: 3rem;
  font-weight: 400;
  /* line-height: 1.3; */
}
.sub-text {
  font-size: 1.25rem;
  line-height: 1.7;
}

.about-description {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.about-body .media {
  padding: 2px 0;
}
.media {
  display: flex;
  align-items: flex-start;
  /* flex-wrap: nowrap; */
}

.about-body .media label {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  flex: 0 0 107px; /* flex-grow flex-shrink flex-basis  */
  border-right: 1px solid #c1c1c1;
}

.about-body .media p {
  padding: 6px;
  font-size: 16px;
  padding-left: 5px;
}
/* for small screen and below */
@media screen and (max-width: 576px) {
  .about-image {
    width: 20rem;
  }
  .about-body .media {
    padding: 1px 0;
  }
}

.row {
  border: 0px;
  margin-right: 0;
  margin-left: 0;
  max-width: 100%;
}

/* Skills section css */

.mySkills-section {
  padding-top: 2rem;
}

.mySkills-section-lg {
  padding-top: 2rem;
}
.tech-stack-img {
  padding: 22px;
  width: 8rem;
  border-radius: 10rem;
}

.tech-stack-container {
  margin-bottom: 4rem;
}
.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.view-All-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* for screen size 992 and wider */
@media screen and (min-width: 992px) {
  .mySkills-section-lg {
    display: none;
  }
}
/* for screen size 992px and smaller */

@media screen and (max-width: 992px) {
  .mySkills-section {
    display: none;
  }
  .tech-stack-img {
    padding: 20px;
    width: 6rem;
    border-radius: 10rem;
  }
}
/* for screen size 576px and smaller */
@media screen and (max-width: 576px) {
  .tech-stack-img {
    padding: 14px;
    width: 4rem;
    border-radius: 10rem;
  }
}
/* Services section */

.myServices{
  margin-bottom:2rem ;
}
.services-heading{
  padding: 2rem;
}
/* service section */



/* Project section */

.MyProjects {
  padding-top: 3rem;
}

.projects-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* .project-handler{
  padding: 2rem;
} */

@media screen and (max-width: 992px) {
  .project-container {
    margin-bottom: 1.5rem;
  }
}
/* contact-me section */

.contact-me {
  padding: 3rem 0;
  /* padding-bottom: 3rem; */
}

.contact-me-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.thankyouImg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.thankyou-img {
  width: 22rem;
}

.form-heading {
  padding-bottom: 1rem;
}
/* footer section */
.footer-container {
  padding: 1.2rem;
}
.footer-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem !important;
}
.icon-container {
  margin-right: 2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .attribute {
    margin-bottom: 2rem;
  }
}
