*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 10px 45px;
  background-color: #fff;
  border-bottom: 0.1px solid rgb(197, 197, 197) ;
  backdrop-filter: blur(10px);
}

.navbar-brand {
  padding: 0px 10px;
  font-size: 2rem;
}

.navbar-collapse {
  flex-grow: 0;
  padding-right: 30px;
}

.navbar-nav{
  padding-right:45px ;
}

.navbar-brand {
  color: #2F3C7E;
}

.navbar-brand:hover{
  color: #1b234f;
}
.nav-link {
  color:  #2F3C7E !important;
}
.nav-link:hover{
color: #1b234f !important;
}

.btn-outline-success {
  color: #2F3C7E;
  border: 1px solid #2F3C7E;
}
.btn-outline-success:hover {
  color:#fff;
  background-color: #1b234f;
}

.home-section{
  padding: 4rem;
  margin: 2rem 0;
}

.intro-container {
  display: flex;
padding-top: 2rem; 
}
.intro-text {
  padding:1.7rem;
}

.sub-text h5{
  font-size: 2rem;
}

.sub-title{
  font-size: 2rem;
  line-height: 1.5;
}
.my-name {
  font-size: 4.5rem;
  letter-spacing:2px;
  line-height:1.5;
  font-weight: 700;
}

.description {
  line-height: 1.5;
}
.display-picture-container {
  display: flex;
  justify-content: center;
}
.display-picture {
  width: 24rem;
}
/* media query for navbar (<large screen) */


/* @media screen and (max-width: 992px){
  .navbar-collapse{
    padding-right: 0px;
  }
  .nav{
    padding-right:0px ;
  }
} */

/* 
@media screen and (max-width:992px){
  .display-picture{
    order: 1;
  }
  .my-name{
    
    letter-spacing: 1px;
    line-height: 1;

  }
}  */