*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 0.1px solid rgb(197, 197, 197) ;
  backdrop-filter: blur(10px);
}

.navbar-brand {
  padding: 0px 10px;
  font-size: 2rem;
}

.navbar-collapse {
  flex-grow: 0;
  padding-right: 30px;
}

.navbar-nav{
  padding-right:45px ;
}

.navbar-brand {
  color: #2F3C7E;
}

.navbar-brand:hover{
  color: #1b234f;
}
.nav-link {
  color:  #2F3C7E !important;
}
.nav-link:hover{
color: #1b234f !important;
}

.btn-outline-success {
  color: #2F3C7E;
  border: 1px solid #2F3C7E;
}
.btn-outline-success:hover {
  color:#fff;
  background-color: #1b234f;
}

.intro-container {
  display: flex;
  padding: 2rem;
  /* justify-content: center;
   */
   /* align-items: center; */
}
.intro-text {
  padding:1.7rem;
}
.my-name {
  font-size: 3rem;
  letter-spacing:2px;
  line-height:1.9;
  font-weight: 600;
}
.display-picture-container {
 padding: 4rem;
}
.display-picture {
  width: 20rem;
}
/* media query for navbar (<large screen) */


/* @media screen and (max-width: 992px){
  .navbar-collapse{
    padding-right: 0px;
  }
  .nav{
    padding-right:0px ;
  }
} */


@media screen and (max-width:992px){
  .my-name{
    letter-spacing: 1px;
    line-height: 1;

  }
} 